.example-spacer {
  flex: 1 2 auto;


}

.mat-toolbar {
  background-color: #ffffff;
  font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
  color: #021D34;
  border-bottom: rgb(211, 211, 211) 1px solid;
  box-shadow: 0px 0px 2px 1px rgba(82, 82, 82, 0.2);

}

 img {
  width: 48px;
  margin-right: 32px;
 }

.mat-icon {
  color: #009DE0
}
